.user-form-container {
  margin-bottom: 20px;
}

.user-form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
}

.user-form-container button {
  padding: 10px 20px;
  background-color: rgb(59, 210, 59);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
